body{
    background-color: gray;
}
.button1{
    font-size: x-large;
    font-weight: bolder;
    color:rgb(27, 53, 83);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgb(101, 158, 223);
    background-color: gray
}
.image1{
    display: none;
    height: 50px;
    width: 50px;
}
.image2{
    display: none;
    height: 50px;
    width: 50px;
}
.image3{
    display: none;
    height: 50px;
    width: 50px;
}
.image7{
    display: none;
    height: 50px;
    width: 50px;
}
.image8{
    display: none;
    height: 50px;
    width: 50px;
}
.image9{
    display: none;
    height: 50px;
    width: 50px;
}
.image4{
    height: 50px;
    width: 50px;
}
.image5{
    height: 50px;
    width: 50px;
}
.image6{
    height: 50px;
    width: 50px;
}
.column {
    font-size: 50px;
    background-color:white; 
    color: black;
    text-align: center;
    float: left;
    width: 33.33%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .result1{
    display: none;
    font-size: 35px;
    text-align: center;
    color: green;
  }
.result2{
    display: none;
    font-size: 35px;
    text-align: center;
    color: rgb(185, 23, 23);
  }
.gameover{
    display: none;
    font-size: 35px;
    text-align: center;
    color: rgb(185, 23, 23);
  }
 .winnermessage{
  display: none;
  font-size: 35px;
  text-align: center;
  color: green;
}
.youwin{
    display: none;
    color: green;
  }
  .youlose{
    display: none;
    color: red;
  }
  h1{
    text-align: center;
    color: rgb(27, 53, 83);
  }
  h2{ 
    color: rgb(27, 53, 83);
}
.tokens{
  display: block;
  color: rgb(27, 53, 83);
}
.parent{
    display: block;
    border: 10px solid;
    border-color: rgb(27, 53, 83);
    background-color: rgb(51, 47, 47);
    height: 50px;
    width: 99%
  }
  .child{
    line-height: 50px;
    text-align:center;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(177, 128, 39);
    height: 50px;
    width: 50%;
  }
  p{
    text-align: right;
  }
  .siren1{
    width: 50%;
    float: right;
}
.siren2{
    padding-top: 30px;
    width: 50%;
    float: left;
}
.image10{
    height: 125px;
    width: 125px;
    display: block;
    margin-left: auto;
    margin-right: 0%;
}
.image11{
    height: 70px;
    width: 70px;
    display: block;
    margin-left: 0%;
    margin-right: auto;
}
.container{
    position:fixed;
    top: 50%;
    left: 10%;
    width: 75%;
    height: 145px;
    font-weight: bold;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    border: 1px solid black
}
.image12{
  height: 50px;
  width: 50px;
}
.image13{
  height: 50px;
  width: 50px;
}
.image14{
  height: 50px;
  width: 50px;
}
.image15{
  height: 50px;
  width: 50px;
}
.image16{
  height: 50px;
  width: 50px;
}
.image17{
  height: 50px;
  width: 50px;
}
.scoreboard1{
  font-size: 30px;
}